@import 'variables';
@import 'mixins';

body {
    background-color: $background;
}

.card {
    margin: auto;
    width: 60%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    //Card from mixins
    @include card;
    //Shadow from mixins
    @include shadow;
    
    //For mobile screens only:
    @media only screen and (max-width: 767px) {
        width: 90%;
    }

    .card-body {
        width: 40%;

        @media screen and (max-width: 900px) {
            width: 50%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        .date {
            color: $primary;
            font-weight: 700;
        }
    }
}
