@import 'variables';
@import 'mixins';

.button {
    @include card;
    border-right: none;
    border-top: none;
    border-bottom: none;
    font-size: 1.1rem;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    /* add transition for both background-color and color */
    transition: all 0.1s ease-in-out;
    &:hover{
        border-left: 1rem solid $primary;
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
    //Shadow from mixins
    @include shadow;
}
